.titulo{ font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-indent: 10pt; text-align: center; white-space: nowrap; height: 14px; border-style: none}
.titulo2{ color:#000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; text-align: center; }
.n{font-family: Arial;  text-align: center; font-size: 10pt; line-height: 1.3;}
.n1{font-family: Arial;  text-align: left; font-size: 12px; line-height: 1.3; font-weight: bold;color: #000000;}
.n2{font-family: Arial;  text-align: center; font-size: 14px; line-height: 1.3; font-weight: bold;color: #000000;}
.n3{font-family: Arial;  font-size: 12px; line-height: 1.3; font-weight: bold;color: #000000; background-color: #D8D8D8;}
.n4{font-family: Arial;  text-align: center; font-size: 12px; line-height: 1.3; font-weight: bold; color: #999999;}
.t{font-family: Arial;  text-align: center; font-size: 18px; line-height: 1.3; font-weight: bold;color: #000000;}
a:link {color: black; }
a:visited {color: black;}
a:hover {color: #FFFFFF; background-color: #000000}
.aa{font-family: Arial; font-size: 12px; font-weight: bold;text-decoration:underline}
.aa1{font-family: Arial; font-size: 14px; font-weight: bold;text-decoration:underline}
.fecha{font-family: Arial; font-size: 14px; font-weight: bold;text-decoration:underline}

.t{font-family: Arial;  text-align: center; font-size: 18px; line-height: 1.3; font-weight: bold;color: #000000;}
table {
  border-collapse: collapse;
}
table1 {
  font-size:100%;
  font-family:inherit;
  border-top:1.0pt solid ;
  border-right:1.0pt solid ;
  border-bottom:1.0pt solid ;
  border-left:1.0pt solid ;
  color:#00002
}

table1 {
  font-size:100%;
  font-family:inherit;

}


td{
  padding: 3px;
}

th{
  padding: 5px;
}
	