.titulo{ font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-indent: 10pt; text-align: center; white-space: nowrap; height: 14px; border-style: none}
.titulo2{ color:#000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; text-align: center; }
.titulo3{ font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-indent: 10pt; text-align: center; white-space: nowrap; height: 14px; border-style: none}
.pequena { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #369; text-indent: 10pt; text-align: center; white-space: nowrap; height: 14px; border-style: none}
.t{font-size: 8pt; font-family: Verdana,sans-serif; font-weight: bold; color: #336699;} 
.n{font-family: Arial;  text-align: center; font-size: 7pt; line-height: 1.3;}
.c{font-family: Arial;  text-align: left; font-size: 9pt; line-height: 1.3;}
.n1{font-family: Arial;  text-align: left; font-size: 12px; line-height: 1.3; font-weight: bold;color: #000000;}
.n2{font-family: Arial;  text-align: center; font-size: 12px; line-height: 1.3; font-weight: bold;color: #000000;}
.n3{font-family: Arial;  text-align: center; font-size: 12px; line-height: 1.3; font-weight: bold;color: #000000; background-color: #D8D8D8;}
.n4{font-family: Arial;  text-align: center; font-size: 12px; line-height: 1.3; font-weight: bold; color: #999999;}

.boton{font-family: Verdana,sans-serif;  text-align: center; font-size: 10px; line-height: 1.3; font-weight: normal;}

a:link {color: black; text-decoration:underline}
a:visited {color: black; text-decoration:underline}
a:hover {color: #FFFFFF; background-color: #000000}

.liga{font-family: Arial; font-size: 12px; font-weight: bold;text-decoration:underline}
.liga3{font-family: Arial; font-size: 12px; font-weight: bold;color: #999999;}



.table {
	width: 70%;
	font-size:100%;
	font-family:inherit;
	border-collapse: collapse;
	border-top:1.0pt solid ;
	border-right:1.0pt solid ;
	border-bottom:1.0pt solid ;
	border-left:1.0pt solid ;
	color:#000000;
}

.table2 {
	width: 100%;
	font-size:100%;
	font-family:inherit;
	border-collapse: collapse;
	border-top:1.0pt solid ;
	border-right:1.0pt solid ;
	border-bottom:1.0pt solid ;
	border-left:1.0pt solid ;
	color:#000000;
}

td{
	padding: 3px;
}

th{
	padding: 5px;
}
.xxx
	{font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;}